@tailwind base;
@tailwind components;
@tailwind utilities;

/* Target the browser autofill state pseudo-class */
/*  To avoid browsers behaviour to change the background to white once the value is entered*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    /* 🌟 Force the text to stay bright white */
    -webkit-text-fill-color: #ffffff !important;

    /* 🌟 Overwrite the white background using a massive inset shadow matching your input color (#242427) */
    box-shadow: 0 0 0px 1000px #242427 inset !important;

    /* Smoothly retains the font aesthetics */
    transition: background-color 5000s ease-in-out 0s;
}
